<template id="dropdown">
	<div class="dropdown profile">
		<button id="dropdown-menu-button" class="dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false">
			<img id="profile-img" class="avatar mt-1" src="">
		</button>
		<div id="option-list" class="dropdown-menu" aria-labelledby="dropdown-menu-button"></div>
	</div>
</template>

<template id="dropdown-element">
	<a class="dropdown-item" href="#">
		<div class="row">
			<div class="col-auto">
				<img id="option-img" class="img-16" src="">
			</div>
			<div id="option-text" class="col"></div>
		</div>
	</a>
</template>