<template id="tag-field">
  <div>
    <div class="input-group input-group-outline my-3">
      <label id="label" class="form-label">Domain lock</label> <!--CAMBIAR POR UN CREADOR DE BADGES CON UN INPUT-->
      <input id="input" type="text" class="form-control">
    </div>
    <div id="badges" class="row"></div>
  </div>
</template>

<template id="tag-element">
  <span class="badge badge-pill badge-md d-flex">
    <p id="text" class="text-sm m-0"></p>
    <span id="remove-button" class="material-icons-round common-button">close</span>
  </span>
</template>