<template id="side-menu-group">
	<li class="nav-item mb-2 mt-0">
		<a id="button" data-bs-toggle="collapse" href="#" class="nav-link text-white mx-1 py-2 overflow-hidden mb-half" aria-controls="" role="button" aria-expanded="false">
		  <img id="menu-img" src="../../assets/img/team-3.jpg" class="avatar">
		  <span id="side-title" class="nav-link-text ms-1 ps-1"></span>
		</a>
		<div class="collapse" id="">
		  <ul id="menu" class="nav "></ul>
		</div>
	</li>
</template>

<template id="side-menu-button">
	<li class="nav-item main">
		<div class="nav-link text-white mx-1 py-2 my-half overflow-hidden" style="position: relative;">
			<a id="button" href="#" style="display: flex;">
				<div id="menu-img" class="menu-img me-1" style="margin-top: 0.125rem;"></div>
				<span id="text" class="sidenav-normal ms-1"></span>
			</a>
		</div>
	</li>
</template>