<template id="obfuscator-form-t">
  <div class="row m-3">
    <div class="col-3">
      <button id="reset-button" type="button" class="btn w-100 me-3 mb-0 bg-gradient-secondary" trans="oform_01">Reset Default</button>
      <hr class="horizontal light my-2">
      <h6 trans="oform_00">Options Preset</h6>
      <div class="input-group-outline">
        <select id="presets" class="choices">
        </select>
      </div>
      <hr class="horizontal light my-2">
      <h6 trans="oform_06">Target</h6>
      <div class="input-group-outline">
        <select id="target" class="choices">
        </select>
      </div>
      <h6 trans="oform_10">Seed</h6>
      <div class="input-group input-group-outline my-3">
        <input id="seed" type="number" class="form-control" value="0">
      </div>
      <div class="form-check">
        <input id="console-output" class="form-check-input" type="checkbox" value="" checked="">
        <label class="custom-control-label" trans="oform_11">Disable console output</label>
      </div>
      <div class="form-check">
        <input id="self-def" class="form-check-input" type="checkbox" value="" checked="">
        <label class="custom-control-label" trans="oform_12">Self defending</label>
      </div>
      <div class="form-check">
        <input id="debug-protection" class="form-check-input" type="checkbox" value="" checked="">
        <label class="custom-control-label" trans="oform_13">Debug protection</label>
      </div>
      <h6 trans="oform_14">Debug protection interval</h6>
      <div class="input-group input-group-outline my-3">
        <input id="debug-protection-i" type="number" class="form-control" value="0">
      </div>
      <hr class="horizontal light my-2">
      <div class="form-check">
        <input id="ignore-imports" class="form-check-input" type="checkbox" value="" checked="">
        <label class="custom-control-label" trans="oform_15">Ignore imports</label>
      </div>
      <hr class="horizontal light my-2">
      <div id="domain-lock" class="position-relative"></div>
      <div class="input-group input-group-outline my-3">
        <label class="form-label" trans="oform_17">Domain lock redirect url</label>
        <input id="domain-lock-redirect" type="text" class="form-control" value="about:blank">
      </div>
      <hr class="horizontal light my-2">
      <div class="form-check">
        <input id="enable-maps" class="form-check-input" type="checkbox" value="" checked="">
        <label class="custom-control-label" trans="oform_18">Enable source map</label>
      </div>
      <h6 trans="oform_19">Source map mode</h6>
      <div id="source-map-mode" class="input-group-outline">
        <select class="choices">
          <option value="inline" trans="oform_20">Inline</option>
          <option value="separate" trans="oform_21">Separate</option>
        </select>
      </div>
      <div class="input-group input-group-outline my-3">
        <label class="form-label" trans="oform_22">Source map base URL</label>
        <input id="map-base-url" type="text" class="form-control">
      </div>
      <div class="input-group input-group-outline my-3">
        <label class="form-label" trans="oform_23">Source map file name</label>
        <input id="map-file-name" type="text" class="form-control">
      </div>
    </div>
    <div class="col-3">
      <h5 trans="oform_24">Strings transformations</h5>
      <hr class="horizontal light my-2">
      <div class="form-check">
        <input id="string-array" class="form-check-input" type="checkbox" value="" checked="">
        <label class="custom-control-label" trans="oform_25">String array</label>
      </div>
      <div class="form-check">
        <input id="string-array-rotate" class="form-check-input" type="checkbox" value="" checked="">
        <label class="custom-control-label" trans="oform_26">String array rotate</label>
      </div>
      <div class="form-check">
        <input id="string-array-shuffle" class="form-check-input" type="checkbox" value="" checked="">
        <label class="custom-control-label" trans="oform_27">String array shuffle</label>
      </div>
      <h6 trans="oform_28">String array threshold</h6>
      <div class="input-group input-group-outline my-3">
        <input id="map-base-url" type="number" class="form-control" value="0.75">
      </div>
      <div class="form-check">
        <input id="string-array-IS" class="form-check-input" type="checkbox" value="" checked="">
        <label class="custom-control-label" trans="oform_29">String array index shift</label>
      </div>
      <h6 trans="oform_30">String array indexes type</h6>
      <div class="input-group-outline">
        <select id="string-array-IT" class="choices">
          <option value="hexa-number" trans="oform_31">Hexadecimal number</option>
          <option value="hexa-string" trans="oform_32">Hexadecimal numeric string</option>
        </select>
      </div>
      <div class="form-check">
        <input id="string-array-calls" class="form-check-input" type="checkbox" value="" checked="">
        <label class="custom-control-label" trans="oform_33">String array calls transform</label>
      </div>
      <h6 trans="oform_34">String array calls transform threshold</h6>
      <div class="input-group input-group-outline my-3">
        <input id="string-array-CT" type="number" class="form-control" value="0.5">
      </div>
      <h6 trans="oform_35">String array wrappers count</h6>
      <div class="input-group input-group-outline my-3">
        <input id="string-array-WC" type="number" class="form-control" value="1">
      </div>
      <h6 trans="oform_36">String array wrappers type</h6>
      <div class="input-group-outline">
        <select id="string-array-IT" class="choices">
          <option value="variable" trans="oform_37">Variable</option>
          <option value="function" trans="oform_38">Function</option>
        </select>
      </div>
      <h6 trans="oform_39">String Array Wrappers Parameters Maximum Count</h6>
      <div class="input-group input-group-outline my-3">
        <input id="string-array-WCMC" type="number" class="form-control" value="2">
      </div>
      <div class="form-check">
        <input id="string-array-WCC" class="form-check-input" type="checkbox" value="" checked="">
        <label class="custom-control-label" trans="oform_40">String array wrappers chained calls</label>
      </div>
      <h6 trans="oform_41">String array encoding</h6>
      <div class="input-group-outline">
        <select id="string-array-encode" class="choices">
          <option value="none" trans="oform_42">None</option>
          <option value="base64" trans="oform_43">Base64</option>
          <option value="rc4" trans="oform_44">rc4</option>
        </select>
      </div>
      <hr class="horizontal light my-2">
      <div class="form-check">
        <input id="split-strings" class="form-check-input" type="checkbox" value="" checked="">
        <label class="custom-control-label" trans="oform_45">Split strings</label>
      </div>
      <h6 trans="oform_46">Split strings chunk length</h6>
      <div class="input-group input-group-outline my-3">
        <input id="split-strings-CH" type="number" class="form-control" value="10">
      </div>
      <hr class="horizontal light my-2">
      <div class="form-check">
        <input id="split-strings" class="form-check-input" type="checkbox" value="" checked="">
        <label class="custom-control-label" trans="oform_47">Unicode escape sequence</label>
      </div>
      <hr class="horizontal light my-2">
      <div class="input-group input-group-outline my-3">
        <label class="form-label" trans="oform_48">Force transform strings</label> <!--CAMBIAR POR UN CREADOR DE BADGES CON UN INPUT-->
        <input id="force-trans-strings" type="text" class="form-control">
      </div>
      <div class="input-group input-group-outline my-3">
        <label class="form-label" trans="oform_49">Reserved strings</label> <!--CAMBIAR POR UN CREADOR DE BADGES CON UN INPUT-->
        <input id="reserved-strings" type="text" class="form-control">
      </div>
    </div>
    <div class="col-3">
      <h5 trans="oform_50">Identifiers transformations</h5>
      <hr class="horizontal light my-2">
      <h6 trans="oform_51">Identifier name generator</h6>
      <div class="input-group-outline">
        <select id="identifiers-names-generator" class="choices">
          <option value="dictionary" trans="oform_52">Dictionary</option>
          <option value="hexadecimal" trans="oform_53">Hexadecimal</option>
          <option value="mangled" trans="oform_54">Mangled</option>
          <option value="mangled-shuffled" trans="oform_55">Mangled-Shuffled</option>
        </select>
      </div>
      <div class="input-group input-group-outline my-3">
        <label class="form-label" trans="oform_56">Identifiers dictionary</label> <!--CAMBIAR POR UN CREADOR DE BADGES CON UN INPUT-->
        <input id="ide-dictionary" type="text" class="form-control">
      </div>
      <div class="input-group input-group-outline my-3">
        <label class="form-label" trans="oform_57">Identifiers prefix</label>
        <input id="ide-prefix" type="text" class="form-control">
      </div>
      <hr class="horizontal light my-2">
      <div class="form-check">
        <input id="rename-globals" class="form-check-input" type="checkbox" value="" checked="">
        <label class="custom-control-label" trans="oform_58">Rename globals</label>
      </div>
      <hr class="horizontal light my-2">
      <div class="form-check">
        <input id="rename-props" class="form-check-input" type="checkbox" value="" checked="">
        <label class="custom-control-label" trans="oform_59">Rename properties</label>
      </div>
      <h6 trans="oform_60">Rename Properties Mode</h6>
      <div class="input-group-outline">
        <select id="rename-props-mode" class="choices">
          <option value="safe" trans="oform_61">Safe</option>
          <option value="unsafe" trans="oform_62">Unsafe</option>
        </select>
      </div>
      <hr class="horizontal light my-2">
      <div class="input-group input-group-outline my-3">
        <label class="form-label" trans="oform_63">Reserved Names</label> <!--CAMBIAR POR UN CREADOR DE BADGES CON UN INPUT-->
        <input id="reserved-names" type="text" class="form-control">
      </div>
    </div>
    <div class="col-3">
      <h5 trans="oform_64">Other Transformations</h5>
      <hr class="horizontal light my-2">
      <div class="form-check">
        <input id="compact" class="form-check-input" type="checkbox" value="" checked="">
        <label class="custom-control-label" trans="oform_65">Compact</label>
      </div>
      <div class="form-check">
        <input id="simplify" class="form-check-input" type="checkbox" value="" checked="">
        <label class="custom-control-label" trans="oform_66">Simplify</label>
      </div>
      <hr class="horizontal light my-2">
      <div class="form-check">
        <input id="transform-obj-keys" class="form-check-input" type="checkbox" value="" checked="">
        <label class="custom-control-label" trans="oform_67">Transform object keys</label>
      </div>
      <hr class="horizontal light my-2">
      <div class="form-check">
        <input id="transform-obj-keys" class="form-check-input" type="checkbox" value="" checked="">
        <label class="custom-control-label" trans="oform_68">Numbers to expressions</label>
      </div>
      <hr class="horizontal light my-2">
      <div class="form-check">
        <input id="control-flow-flat" class="form-check-input" type="checkbox" value="" checked="">
        <label class="custom-control-label" trans="oform_69">Control flow flattening</label>
      </div>
      <h6 trans="oform_70">Control flow flat threshold</h6>
      <div class="input-group input-group-outline my-3">
        <input id="control-flow-flat-t" type="number" class="form-control" value="0.75">
      </div>
      <hr class="horizontal light my-2">
      <div class="form-check">
        <input id="dead-code" class="form-check-input" type="checkbox" value="" checked="">
        <label class="custom-control-label" trans="oform_71">Dead code injection</label>
      </div>
      <h6 trans="oform_72">Deadcode threshold</h6>
      <div class="input-group input-group-outline my-3">
        <input id="dead-code-t" type="number" class="form-control" value="0.75">
      </div>
    </div>
  </div>
</template>